html {
    height: 100%
}
body {
    padding: 0;
    margin: 0;
    min-width: 800px;
    width:  100%;
    height: 100%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#chart {
    width: 100%;
    height: 100%;
}

#title {
    position: absolute;
    top: 8px;
    left: 12px;
    z-index: 200;

}

#loader {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #fff;
    padding-left: 20px !important ;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-color: #333;
}

#loader_output {
    position: absolute;
    left: 230px;
    top: 70px;
    background-color: #f6faff;
    border: 1px solid black;
    width:738px;
    height:320px;
    overflow-x:hidden;
    overflow-y:scroll;
    padding-left: 8px;
}

table#stats {
    background-color: #f6faff;
    border: 1px solid black;
    width:748px;
    padding-left: 8px;
    margin-bottom: 8px;
}

.ajax-loader {
    display: inline-block;
    background: url(../img/loading.gif) no-repeat;
    height: 11px;
    padding-top: 5px;
    width: 16px;
    vertical-align: middle;
}
.ajax-check {
    display: inline-block;
    background: url(../img/check.png) no-repeat;
    height: 16px;
    width: 16px;
    vertical-align: middle;
}
.ajax-fail {
    display: inline-block;
    background: url(../img/fail.png) no-repeat;
    height: 16px;
    width: 16px;
    vertical-align: middle;
}